p {
	text-align: center;
	font-family: Verdana;
	color: orange;
}

.corrbars:hover {
	opacity: .7;
	cursor: pointer;
}
.graphtitle {
	fill: #CA7E00;
	font-family: "Exo 2", "Helvetica Neue", Helvetica, sans-serif;
	cursor: pointer;
}
.graphtitle:hover {
	text-decoration: underline;
}
#wrapper {
	background-color: #B2C9D9;
	width: 75%;
	height: 100%;
}


